<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Funcionário</title>
</head>
<body>
    <h1>Cadastrar Funcionário</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>
        
        <label for="usuario">Usuário:</label><br>
        <input type="text" id="usuario" name="usuario" required><br>
        
        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required><br>
        
        <label for="funcao">Função:</label><br>
        <input type="text" id="funcao" name="funcao" required><br><br>
        
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <a href="{% url 'home' %}" class="btn">Voltar a Home</a> <!-- fazer o botão no css -->

</body>
</html>

